#!/usr/bin/env python3
# -*- coding: utf-8 -*-

"""{name}
https://github.com/apachecn/{name}"""

__author__ = "ApacheCN"
__email__ = "apachecn@163.com"
__license__ = "CC BY-NC-SA 4.0"
__version__ = "{ver}"