{
  "name": "{pkg}",
  "version": "{ver}",
  "description": "{desc}",
  "main": "index.js",
  "scripts": {
    "test": "echo \"no test specified\""
  },
  "author": "ApacheCN",
  "license": "CC BY-NC-SA 4.0",
  "repository": {
    "type": "git",
    "url": "git+https://github.com/apachecn/{name}.git"
  },
  "bin": {
    "{name}": "./index.js",
    "{pkg}": "./index.js"
  },
  "dependencies": {}
}
