# {title}

## 下载

### Docker

```
docker pull apachecn0/{docker_hub_name}
docker run -tid -p <port>:80 apachecn0/{docker_hub_name}
# 访问 http://localhost:{port} 查看文档
```

### PYPI

```
pip install {pip_name}
{pip_name} <port>
# 访问 http://localhost:{port} 查看文档
```

### NPM

```
npm install -g {npm_name}
{npm_name} <port>
# 访问 http://localhost:{port} 查看文档
```